version: "3.9"
services:
  api:
    build:
      context: ./apps/api
    ports:
      - "3000:3000"
    container_name: bootcamp-api
    restart: unless-stopped

  web:
    build:
      context: ./apps/web
    ports:
      - "8080:80"
    environment:
      - VITE_API_URL=http://api:3000
    depends_on:
      - api
    container_name: bootcamp-web
    restart: unless-stopped
